<h1><%= @artist.name %></h1>


<%= image_tag @artist.image_url %>
<br><br>
<hr>



<h4>List of Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.title %> - <%=song.genere %></li>

    <% end %>
  </ul>
<% else %>
  <p>There are no songs for this artist.</p>
<% end %>



<%= link_to "[All Artists]", artists_path %>
<%= link_to "[Add Song]", new_song_path(@artist.id) %>
<%= link_to "[Delete Artist]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
